%section.cta.cta-black
  .container
    %h3 S’incrire pour utiliser la version de pré-lancement
    %p Pas de carte de crédits nécessaire. Sans engagement.
    = link_to new_user_registration_path, class: "btn btn-large btn-danger btn-block" do
      J’essais Merci Edgar !