%section.cta.cta-black#cta-enroll
  - user = User.new
  = form_for(user, url: new_user_registration_path, method: :get) do |f|
    .container
      %h3 Combien ça coûte ?

      :markdown

        C'est aujourd'hui gratuit !

        L'utilisation de Merci Edgar sera bientôt reservée aux adhérents de l'association (une fois la fonctionnalité d'export opérationnelle).

        Réponses aux questions fréquemment posées sur l'[association Merci Edgar](http://blog.merciedgar.com/post/108265370123/reponses-aux-questions-frequemment-posees).

        Pour info, le montant de l'adhésion est symbolique : elle est fixée à 20€ par an pour les particuliers (et permet de couvrir notamment les frais d'hébergement)

      .row-fluid
        .span5.offset1
          = f.text_field(:email, placeholder: "Votre email")
        .span5
          = f.button "Je m'inscris !", class: "btn btn-large btn-danger btn-block"
