%section.cta.cta-black#cta-enroll
  .container
    %h3 S’incrire pour utiliser la version de pré-lancement
    %p Pas de carte de crédit nécessaire. Sans engagement.
    
    .row-fluid
      .span4
        %input{type:"text", placeholder:"Votre nom"}
      .span4
        %input{type:"text", placeholder:"Votre email"}
      .span4
        = link_to new_user_registration_path, class: "btn btn-large btn-danger btn-block" do
          -#J’essaie Merci Edgar !
          Je m’inscris !