= render 'showcase/cta-enroll'

%footer#contact-section.footer
  .container
    .row-fluid
      .span8
        /%a{href: "#thetop"}
        = link_to locale_root_path do
          .logo-ed.logo-footer.edi-ed-logo-typo
          -#= image_tag("multipage/logo-edgar-horiz-typ-white.png")
        %address
          %i.fa-icon-map-marker
          Au bourg, 47120 Monteton, France
         
        
      .span4
        %ul.socials
          %li
            %a{:href => "https://www.facebook.com/pages/Merci-Edgar/164510577033726", :title => "Facebook Merci Edgar", :target => "blank"}
              %i.ico.edi-facebook
          %li
            %a{:href => "https://twitter.com/MerciEdgar", :title => "Twitter Merci Edgar", :target => "blank"}
              %i.ico.edi-twitter
          %li
            %a{:href => "http://vimeo.com/channels/entretiensdedgar", :title => "Vimeo Channel Entretiens d'Edgar", :target => "blank"}
              %i.ico.edi-vimeo
              
            %a{:href => "mailto:contact@merciedgar.com", :title => "Mail"}
              %i.ico.edi-mail
              
