.span3.project-item.seo.graphics.box
  .thumbnail
    / IMAGE CONTAINER
    %a{:href => "#"}
    %div
      .thumb-hover
      %img{:src => "images/screens/sansev.jpg"}/
    / END IMAGE CONTAINER
    / CAPTION
    .caption.text-center
      / TITLE
      %h4
        Sanseverino, artiste
      / / TITLE
    / END CAPTION
  / END: THUMBNAIL
