!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Invitation
    %p
      = @manager.name 
      vous donne accès à la base du compte
      = @account.name 
      
    %p
      Lien pour y accéder :
      = link_to "Accéder au compte #{@account.name}", locale_root_url(locale: :fr, subdomain: @account.domain)
      
