!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1= "Cher #{@user.name}"
    %p
      Votre fichier d'import est mal construit. Merci de vous reporter à la documentation pour construire un fichier d'import que Merci Edgar est capable de lire.
    %p
