!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1= "Cher #{@user.name}"
    %p
      Une erreur interne est survenue.  L'équipe de Merci Edgar est sur le pont pour résoudre le problème.
    %p
