!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p= t('hello')
    %p= t('body', scope: 'mailers.contacts_export.success')
    %p= t('see_you_soon')
