!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome
    %p
      We have received your request for an invitation to #{link_to ENV["DOMAIN"], root_url}.
    %p
      We'll contact you when we launch.
