
.dummy= image_tag "dummies/dummy-search1.jpg"

-#
  .page-title
    Recherche
  
  .row-fluid
    .span12
      %p Find me in app/views/search/index.html.haml
      %form
        /%imput
        / %p
        /  = f.label :search,'Search everything'
        /  = f.search :search
    /%.#global-search.noborder.nomargin.av-search" type="search" placeholder="Search everything" autofocus="autofocus" tabindex="0" name="global-search">