- if devise_mapping.recoverable? && controller_name != 'passwords'
  /= link_to t("simple_form.labels.defaults.forgot_password"), new_password_path(resource_name)
  /= link_to t('?'), new_password_path(resource_name), :class => "login-btn forgot-btn", :rel => "tooltip", :title => "Forgot your password ?"
  = link_to "Mot de passe oublié ?", new_password_path(resource_name), :class => "login-btn forgot-btn", :rel => "tooltip", :title => "Mot de passe oublié ?"
  / t("simple_form.labels.defaults.forgot_password")
  / !!! WRONG TITLE SHOWING. WANTED : , :title => "Forgot your password ?"
  /%br/login-btn
