%h1.page-title Playground / Canvas


.notice.success
  %span.noticetitle Titre (optionnel)
  %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
  %a.ico.btn-close{href:"#"}

.notice.info
  %span.noticetitle Titre (optionnel)
  %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
  %a.ico.btn-close{href:"#"}
    
.notice.error
  %span.noticetitle Titre (optionnel)
  %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
    
.notice.warning
  %span.noticetitle Titre (optionnel)
  %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
  %a.ico.btn-close{href:"#"}
    
.notice.info2
  %span.noticetitle Titre (optionnel)
  %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
  %a.ico.btn-close{href:"#"}