%h1.page-title Playground / Canvas

%section
  .section-title Notices
  .notice.success
    %span.noticetitle Titre (optionnel)
    %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
    %a.ico.btn-close{href:"#"}

  .notice.info
    %span.noticetitle Titre (optionnel)
    %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
    %a.ico.btn-close{href:"#"}
    
  .notice.error
    %span.noticetitle Titre (optionnel)
    %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
    
  .notice.warning
    %span.noticetitle Titre (optionnel)
    %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
    %a.ico.btn-close{href:"#"}
    
  .notice.info2
    %span.noticetitle Titre (optionnel)
    %span Superatis Tauri montis verticibus qui ad solis ospatiis porrqsdigitur.
  %a.ico.btn-close{href:"#"}
  
%section
  .section-title Icons
  %a.ico.dealed{:href => "#"}
  %a.ico.dealed.full{:href => "#"}
  %a.ico.favorite{:href => "#"}
  %a.ico.favorite.full{:href => "#"}
  %a.ico.contacted{:href => "#"}
  %a.ico.contacted.full{:href => "#"}
  %a.ico.principal{:href => "#"}
  %a.ico.principal.full{:href => "#"}