%section.progressbar
  .progress
    .bar{:style=>"width: 0%"}
    .message Importation de tel chose
    
%section.progressbar
  .progress
    .bar{:style=>"width: 50%"}
    .message Importation de tel chose
      
%section.progressbar
  .progress
    .bar{:style=>"width: 80%"}
    .message Importation de tel chose
  