%header
  %h1.page-title
    Import terminé
%section.padded
  .notice.success
    %span.noticetitle
      = @nb_imported_contacts
      contacts ont été importés avec succès.

    %p
    %span 
      Cliquez sur 
      = link_to "ce lien", contacts_path(imported_at: @imported_at)
      pour y accéder.
    %a.ico.btn-close{href:"#"}

  .notice.warning
    %span.noticetitle
      = @nb_duplicates
      doublons ont été importés. 
    %p
    %span
      Cliquez sur 
      = link_to "lien", contacts_path(imported_at: @imported_at, duplicated:true)
      pour y accéder.
    %a.ico.btn-close{href:"#"}