-content_for :scripts do
  = javascript_include_tag "tag"
  = javascript_include_tag "contacts_import"

%header
  %h1.page-title
    Import test

= link_to "Lancer l'import", contacts_imports_path(from_test_mode: true), method: :post
%section.progressbar
  #progress_import.progress{:data => {url: @url }}
    .bar
    .message Import en cours ...
    
