@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ed-icon-"] {
*/
.ed-icon-ed-evenements, .ed-icon-ed-equipe, .ed-icon-ed-actualites, .ed-icon-ed-comm, .ed-icon-ed-logo, .ed-icon-twitter, .ed-icon-ed_relations, .ed-icon-ed-tv, .ed-icon-ed-time, .ed-icon-ed-search, .ed-icon-check, .ed-icon-email, .ed-icon-facebook, .ed-icon-moins, .ed-icon-plus, .ed-icon-rss, .ed-icon-ed-logo-bkg, .ed-icon-flech-sml {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ed-icon-ed-evenements:before {
	content: "\e005";
}
.ed-icon-ed-equipe:before {
	content: "\e006";
}
.ed-icon-ed-actualites:before {
	content: "\e007";
}
.ed-icon-ed-comm:before {
	content: "\e008";
}
.ed-icon-ed-logo:before {
	content: "\e004";
}
.ed-icon-twitter:before {
	content: "\e00b";
}
.ed-icon-ed_relations:before {
	content: "\e000";
}
.ed-icon-ed-tv:before {
	content: "\e001";
}
.ed-icon-ed-time:before {
	content: "\e002";
}
.ed-icon-ed-search:before {
	content: "\e003";
}
.ed-icon-check:before {
	content: "\e009";
}
.ed-icon-email:before {
	content: "\e00a";
}
.ed-icon-facebook:before {
	content: "\e00c";
}
.ed-icon-moins:before {
	content: "\e00d";
}
.ed-icon-plus:before {
	content: "\e00e";
}
.ed-icon-rss:before {
	content: "\e00f";
}
.ed-icon-ed-logo-bkg:before {
	content: "\e011";
}
.ed-icon-flech-sml:before {
	content: "\e010";
}
