@font-face {
    font-family: 'EntypoRegular';
    src: url('../ico/entypo-icons/entypo-webfont.eot');
    src: url('../ico/entypo-icons/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../ico/entypo-icons/entypo-webfont.woff') format('woff'),
         url('../ico/entypo-icons/entypo-webfont.ttf') format('truetype'),
         url('../ico/entypo-icons/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'LeagueGothic';
    src: url('font/league_gothic-webfont.eot');
    src: url('font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/league_gothic-webfont.woff') format('woff'),
         url('font/league_gothic-webfont.ttf') format('truetype'),
         url('font/league_gothic-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
body {
	font-family: Arial;
	font-size: 13px;
	color: #4d5458;
	text-align: center;
	margin-top: 2em;
}

hr {
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	border-top: 4px solid #ddd;
	margin: 1em 0;
}

h2 {
	font-size: 40px;
	font-family: 'LeagueGothic';
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2em;
}

h3 {
	font-size: 25px;
	font-family: 'LeagueGothic';
	font-weight: normal;
	text-transform: uppercase;
	margin: 1em 0 0 0;
}

p {
	margin: .5em 0;
}

#container {
	display: block;
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

/* BUTTON */
.button {
	font-size: 13px;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	vertical-align: middle;
	padding: 7px 15px 9px;
	margin: .5em .5em .5em 0;
	color: #fff;
	border-radius: 3px;
	font-weight: bold;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset rgba(255,255,255,0.3) 0 2px 0;
	-webkit-transition: 0.1s linear;
	-moz-transition: 0.1s linear;
	-ms-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
	background: rgb(255,183,0);
	background: -moz-linear-gradient(top,  rgba(255,183,0,1) 0%, rgba(255,140,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,0,1)), color-stop(100%,rgba(255,140,0,1)));
	background: -webkit-linear-gradient(top,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700', endColorstr='#ff8c00',GradientType=0 );

}
	
	.button:hover {
		background: rgb(255,203,72);
		background: -moz-linear-gradient(top,  rgba(255,203,72,1) 0%, rgba(255,156,35,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,203,72,1)), color-stop(100%,rgba(255,156,35,1)));
		background: -webkit-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb48', endColorstr='#ff9c23',GradientType=0 );
	}
	
.button-magenta {
	background: rgb(255,130,172);
	background: -moz-linear-gradient(top,  rgba(255,130,172,1) 0%, rgba(247,37,129,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,130,172,1)), color-stop(100%,rgba(247,37,129,1)));
	background: -webkit-linear-gradient(top,  rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff82ac', endColorstr='#f72581',GradientType=0 );
	border: 1px solid #c60a56;
	box-shadow: inset rgba(255,255,255,0.3) 1px 1px 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	padding: 10px 25px 11px;
}
	
	.button-magenta:hover {
		background: rgb(255,155,189);
		background: -moz-linear-gradient(top,  rgba(255,155,189,1) 0%, rgba(248,62,143,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,155,189,1)), color-stop(100%,rgba(248,62,143,1)));
		background: -webkit-linear-gradient(top,  rgba(255,155,189,1) 0%,rgba(248,62,143,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,155,189,1) 0%,rgba(248,62,143,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,155,189,1) 0%,rgba(248,62,143,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,155,189,1) 0%,rgba(248,62,143,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9bbd', endColorstr='#f83e8f',GradientType=0 );
	}

.button-cyan {
	background: rgb(130,207,241);
	background: -moz-linear-gradient(top,  rgba(130,207,241,1) 0%, rgba(56,174,234,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,207,241,1)), color-stop(100%,rgba(56,174,234,1)));
	background: -webkit-linear-gradient(top,  rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
	background: -o-linear-gradient(top,  rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
	background: -ms-linear-gradient(top,  rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
	background: linear-gradient(to bottom,  rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82cff1', endColorstr='#38aeea',GradientType=0 );
	border: 1px solid #3cafcf;
	box-shadow: inset rgba(255,255,255,0.3) 1px 1px 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	padding: 10px 25px 11px;
}
	
	.button-cyan:hover {
		background: rgb(153,216,244);
		background: -moz-linear-gradient(top,  rgba(153,216,244,1) 0%, rgba(79,183,236,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,216,244,1)), color-stop(100%,rgba(79,183,236,1)));
		background: -webkit-linear-gradient(top,  rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
		background: -o-linear-gradient(top,  rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
		background: -ms-linear-gradient(top,  rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
		background: linear-gradient(to bottom,  rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d8f4', endColorstr='#4fb7ec',GradientType=0 );
	}
	
	.button:active, .button-magenta:active, .button-cyan:active{
		box-shadow: inset rgba(0,0,0,0.4) 0px 0px 6px;
	}

.button-big {
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
	background: rgb(237,48,31);
	background: -moz-linear-gradient(top,  rgba(237,48,31,1) 0%, rgba(221,32,17,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,48,31,1)), color-stop(100%,rgba(221,32,17,1)));
	background: -webkit-linear-gradient(top,  rgba(237,48,31,1) 0%,rgba(221,32,17,1) 100%);
	background: -o-linear-gradient(top,  rgba(237,48,31,1) 0%,rgba(221,32,17,1) 100%);
	background: -ms-linear-gradient(top,  rgba(237,48,31,1) 0%,rgba(221,32,17,1) 100%);
	background: linear-gradient(to bottom,  rgba(237,48,31,1) 0%,rgba(221,32,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed301f', endColorstr='#dd2011',GradientType=0 );
	-webkit-transition: 0.1s linear;
	-moz-transition: 0.1s linear;
	-ms-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
	box-shadow: inset rgba(255, 254, 255, 0.2) 0 0.3em .3em, 
					#91190f 0 .5em 0px, 
					rgba(0, 0, 0, 0.2) 0 .9em 3px;
}
	
	.button-big:hover {
		background: rgb(239,70,55);
		background: -moz-linear-gradient(top,  rgba(239,70,55,1) 0%, rgba(237,42,26,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,70,55,1)), color-stop(100%,rgba(237,42,26,1)));
		background: -webkit-linear-gradient(top,  rgba(239,70,55,1) 0%,rgba(237,42,26,1) 100%);
		background: -o-linear-gradient(top,  rgba(239,70,55,1) 0%,rgba(237,42,26,1) 100%);
		background: -ms-linear-gradient(top,  rgba(239,70,55,1) 0%,rgba(237,42,26,1) 100%);
		background: linear-gradient(to bottom,  rgba(239,70,55,1) 0%,rgba(237,42,26,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4637', endColorstr='#ed2a1a',GradientType=0 );
	}
	
	.button-big:active {
		box-shadow: inset rgba(255, 254, 255, 0.2) 0 0.3em .3em, 
						#91190f 0 0.3em 0, 
						rgba(0, 0, 0, 0.2) 0 0.5em 3px;	
	}
	
	.add-circle {
		font-weight: normal;
	}
	
	.gplus {
		font-size: 30px;
		margin-left: 2em;
	}

/* BADGE */
.badge {
	cursor: pointer;
	display: inline-block;
	width: 70px;
	height: 70px;
	margin-right: 2em; 
	border-radius: 100%;
	z-index: 2;
	border: 8px solid #e5e5e5;
	box-shadow: inset #004f86 0 0 12px;
	vertical-align: top;
	-webkit-transition: 0.1s linear;
	-moz-transition: 0.1s linear;
	-ms-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
	background: rgb(39,219,253);
	background: -moz-linear-gradient(top,  rgba(39,219,253,1) 0%, rgba(83,99,186,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,219,253,1)), color-stop(100%,rgba(83,99,186,1)));
	background: -webkit-linear-gradient(top,  rgba(39,219,253,1) 0%,rgba(83,99,186,1) 100%);
	background: -o-linear-gradient(top,  rgba(39,219,253,1) 0%,rgba(83,99,186,1) 100%);
	background: -ms-linear-gradient(top,  rgba(39,219,253,1) 0%,rgba(83,99,186,1) 100%);
	background: linear-gradient(to bottom,  rgba(39,219,253,1) 0%,rgba(83,99,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27dbfd', endColorstr='#5363ba',GradientType=0 );
}
	
	.badge:hover {
		background: rgb(64,223,253);
		background: -moz-linear-gradient(top,  rgba(64,223,253,1) 0%, rgba(101,116,193,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,223,253,1)), color-stop(100%,rgba(101,116,193,1)));
		background: -webkit-linear-gradient(top,  rgba(64,223,253,1) 0%,rgba(101,116,193,1) 100%);
		background: -o-linear-gradient(top,  rgba(64,223,253,1) 0%,rgba(101,116,193,1) 100%);
		background: -ms-linear-gradient(top,  rgba(64,223,253,1) 0%,rgba(101,116,193,1) 100%);
		background: linear-gradient(to bottom,  rgba(64,223,253,1) 0%,rgba(101,116,193,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40dffd', endColorstr='#6574c1',GradientType=0 );
	}
	
	.badge:active {
		box-shadow: inset #004f86 0 0 22px;
	}
	
	.badge .pictogram {
		text-shadow: -1px -1px 0px rgba(0,0,0,0.1);
		font-weight: normal; 
		color: #fff; 
	}

/* HEADLINE */
.headline {
	margin: 1em .5em;
	display: inline-block;
	width: 350px;
	font-size: 30px;
	font-family: 'LeagueGothic';
}

	.headline span {
		display: inline-block;
		width: 100px;
		vertical-align: top;
	}
	
	.headline span.text-headline {
		width: 200px !important;
		text-transform: uppercase;
	}
	
	.headline .pictogram {
		margin-top: .5em !important;
	}


/* INPUT */
input {
	font-family: Arial;
	font-weight: bold;
	color: #1a3d51;
	background: #d8e6ef;
	border-radius:2px;
	padding: 10px 10px 15px 40px;
	width: 250px;
	border: 0;
	font-size: 16px;
	text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
	box-shadow: inset rgba(0,0,0,.4) 0 1px 1px;
	margin: 1em 2em;
}

input::-webkit-input-placeholder {
	color: #1a3d51;
	padding-top: .2em;
	overflow: visible;
}

input:-moz-placeholder {
	color: #1a3d51;
	padding-top: .7em;
}

/* UNORDERED LIST */
.list {
	display: inline-block;
	list-style-type: none;
	margin: 0 7em 0 0;
	padding: 0;
}

	.list li {
		padding: 10px;
		vertical-align: middle;
	}

/* NAVIGATION */
.nav {
	display: block;
	list-style-type: none;
	background: #f0e2e0;
	text-align: center;
	margin: 0;
	padding-left: 0;
	cursor: pointer;
}

	.nav li {
		display: inline-block;
		color: #806d79;
		text-shadow: rgba(255,255,255,0.5) 1px 1px 1px;
		font-weight: bold;
		padding: 15px 0 10px;
		margin-right: 2em;
		line-height: 1.8em;
		width: 80px;
		-webkit-transition: 0.3s linear;
		-moz-transition: 0.3s linear;
		-ms-transition: 0.3s linear;
		-o-transition: 0.3s linear;
		transition: 0.3s linear;
	}
	
		.nav li:hover {
			background: #f8f2f1;
		}

/* THE PICTOGRAM */
.pictogram {
	font-family: 'EntypoRegular';
	font-size: 20px;
	font-weight: normal;
	vertical-align: middle; 
	line-height: 0;
	margin-right: .1em;
}

	.refresh:after {	content: "h"; font-size: 38px; }
	.shuffle:after {	content: "f"; font-size: 38px; }
	.preview:after {	content: "M"; font-size: 38px; }
	
	.tea:after {	content: "u"; font-size: 38px; }
	.wifi:after {	content: "T"; font-size: 38px; }
	
	.circles:after {	content: "L"; font-size: 98px; vertical-align: middle; }
	
	.rss:after {	content: "S"; font-size: 70px; position: absolute; margin: .33em .28em; }
	.cloud:after {	content: "y"; font-size: 70px; position: absolute; margin: .32em .2em; }
	.download:after {	content: "w"; font-size: 70px; position: absolute; margin: .3em .27em; }
	.trash:after {	content: "I"; font-size: 70px; position: absolute; margin: .35em .24em; }
	.rack:after {	content: "t"; font-size: 70px; position: absolute; margin: .35em .22em; }
	
	.setting:after {	content: "@"; font-size: 150px; display: inline-block; }
	.identity:after {	content: "."; font-size: 150px; }
	.navigation:after {	content: "2"; font-size: 150px; }
	.gallery:after {	content: "p"; font-size: 150px; }
	
	.email:after {	content: "%"; font-size: 50px; position: absolute; color: #1a3d51; margin: .6em .8em; }
	.calendar:after {	content: "P"; font-size: 50px; position: absolute; color: #1a3d51; margin: .6em .8em; }
	.link:after {	content: ">"; font-size: 50px; position: absolute; color: #1a3d51; margin: .6em .8em; }
	.time:after {	content: "N"; font-size: 50px; position: absolute; color: #1a3d51; margin: .6em .8em; }
	
	.folder:after { content: "s"; font-size: 30px; color: #81a9c5; }
	.tag:after { content: "C"; font-size: 30px; }
	.lock:after { content: "U"; font-size: 30px; }
	.unlock:after { content: "V"; font-size: 30px; }
	.mic:after { content: "O"; font-size: 30px; }
	.love:after { content: "6"; font-size: 30px; color: #ff82ac; }
	.star:after { content: "7"; font-size: 30px; color: #ffb700;}
	.like:after { content: "8"; font-size: 30px; color: #3b5998; }
	.phone:after { content: "!"; font-size: 30px; color: #f45232;}
	.flag:after { content: "?"; font-size: 30px; }
	.adduser:after { content: "-"; font-size: 30px; }
	.attach:after { content: "'"; font-size: 30px; }
	.edit:after { content: "&"; font-size: 30px; }
	
	.upload:after { content: "v"; font-size: 60px; color: #806d79; text-shadow: rgba(255,255,255,0.5) 1px 1px 1px; }
	.storage:after { content: "x"; font-size: 60px; color: #806d79; text-shadow: rgba(255,255,255,0.5) 1px 1px 1px; }
	.photo:after { content: "D"; font-size: 60px; color: #806d79; text-shadow: rgba(255,255,255,0.5) 1px 1px 1px; }
	.help:after { content: "K"; font-size: 60px; color: #806d79; text-shadow: rgba(255,255,255,0.5) 1px 1px 1px; }
	.print:after { content: "<"; font-size: 60px; color: #806d79; text-shadow: rgba(255,255,255,0.5) 1px 1px 1px; }
	.gadget:after { content: '"'; font-size: 60px; color: #806d79; text-shadow: rgba(255,255,255,0.5) 1px 1px 1px; }
	