- unless reporting.new_record?
  %li
    %h4= l reporting.created_at, format: :abbrev
      
    .infos
      .pic.pic-mini= image_tag "squared/per1.jpg"
      %a{:href => "#"} Utilisateur Untel
      pour
      .pic.pic-mini= image_tag "squared/pro1.jpg"
      %a{:href => "#"} Telprojet
    
    
    %p 
      = render reporting.report