- venue.capacity_tags.each do |c|
  = venue_capacity_link(c)
  
= venue_kind_link(venue.kind)

- venue.styles.each do |s|
  = tag_link(s.name,"tag-style")

- venue.contracts.each do |c|
  = tag_link(c.name,"tag-legal")

