- venue.cap_ranges.each do |cr|
  = tag_link(cr.name,'tag-custom')
  
= venue_kind_link(venue.kind)

- venue.styles.each do |s|
  = tag_link(s.name,"tag-style")

- venue.contracts.each do |c|
  = tag_link(c.name,"tag-legal")

