%h4= link_to model.name, model
<br>

- model.rooms.each do |r|
  - r.capacities.each do |capacity|
    = render capacity

= render model.address if model.address
.tags
  = render partial: "tags/tags", locals: { asset: model}
