%header.page-title Contacts

%section
  %h3
    Vous n’avez aucun contact…
    <br>
    Arrangeons celà !

%section
  .row-fluid.label-blocks
    .span4
      = link_to new_venue_path, :class => "label label-large" do
        /.label.label-large
        %i.edi-binoculars
        %h4 Prospecter
        %p dans la base collective
      
    .span4
      = link_to new_venue_path, :class => "label label-large" do
        %i.edi-vcard
        %h4 Importer des contacts
        %p depuis un fichier Excel
      
    .span4
      = link_to new_person_path, :class => "label label-large" do
        %i.edi-user-add
        %h4 Créer un contact
        %p manuellement