%header.page-title Contacts

%section
  %h3
    Vous n’avez aucun contact…
    <br>
    Arrangeons celà !

%section
  .row-fluid.label-blocks
    .span4
      = link_to import_samples_account_path, method: :put, :class => "label label-large" do
        %i.edi-vcard
        %h4 Importer des contacts exemples
        %p (6 fiches pour tester)
      
    .span4
      = link_to new_person_path, :class => "label label-large" do
        %i.edi-user-add
        %h4 Créer un contact
        %p manuellement