%header.page-title Contacts

%section.padded
  %h3
    Vous n’avez aucun contact…
    <br>
    Arrangeons celà !

%section.padded
  .row-fluid.label-blocks
    .span4
      = link_to import_samples_account_path, remote: true, method: :put, :class => "label label-large" do
        %i.edi-import
        %h4 Importer un fichier
        %p (Excel, LibreOffice, ...)

    .span4
      = link_to import_samples_account_path, remote: true, method: :put, :class => "label label-large" do
        %i.edi-vcard
        %h4 Importer des contacts exemples
        %p (6 fiches pour tester)
      
    .span4
      = link_to new_structure_path, :class => "label label-large" do
        %i.edi-user-add
        %h4 Créer un contact
        %p manuellement
        
%section.progressbar.ghost.padded
  .progress
    .bar
    .message Import en cours…