- content_for :scripts do
  = javascript_include_tag 'ember_apps/contacts_app/contacts-app'
  
= render 'header'
= render 'contacts_imports/notices' if @nb_imported_contacts.present?
/______________________________________________________ LISTS       
.progress{:style => "display:none"}
  .bar

.row-fluid
  = render 'paginated_contacts'
