= flash[:notice]

Vous avez choisi l'adhésion XX. SOLO (20€/an), accessible à un seul utilisateur.
Si vous souhaitez modifier votre adhésion en mode BRONZE (50€/an) accessible à plusieurs utilisateurs, merci de nous adresser le complément :

Envoyez un chèque de 30€ au siège de l'association MERCI EDGAR
17 rue des Corroyés 
78730 Saint-Arnoult-en-Yvelines
%br
Ou faites un virement de 30€ sur le compte de l'association MERCI EDGAR
%br
IBAN : FR76 1020 7000 1622 2112 2214 747
%br
RIB: 10207 00016 22211222147 47

