$dblue: #30303a;
$dblue90: #45454e;
$mblue: lighten( $dblue, 20% );
$lblue: lighten( $dblue, 40% );
$vlblue: lighten( $dblue, 50% );
$beige:   #edede8;
$orange:  #ff5a3e;
$yellow:  #EDE232;
$green:   #50bfb2;
$green2:  rgba(50, 210, 130, 1);
$red:     rgba(204, 57, 50, 1);
$blue:    rgba(80, 180, 210, 1);
$white:   #fff;

@mixin roundcorners {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

@mixin borderbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin contentbox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

@mixin transition($prop, $speed) {
  -webkit-transition: $prop $speed ease-in-out;
  -moz-transition: $prop $speed ease-in-out;
	-ms-transition: $prop $speed ease-in-out;
	-o-transition: $prop $speed ease-in-out;
	transition: $prop $speed ease-in-out;
}

@mixin square($px) {
  height: #{$px}px;
  width: #{$px}px;
}
  
@mixin transfX {
  -webkit-transform:scaleX(1.1);
  -moz-transform:scaleX(1.1);
  -ms-transform:scaleX(1.1);
  -o-transform:scaleX(1.1);
  transform:scaleX(1.1);
}

@mixin noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

textarea {@include borderbox;}

::-moz-selection {background: $yellow; /* Firefox */}
::-webkit-selection {background:rgba(237, 226, 50, 0.99); /* Chrome */}
::selection {background: $yellow; /* Safari */}

a {color:$dblue;
  &:hover, &:active {color:$green; text-decoration:none;}
}

.infos a {border-bottom : dotted 1px $green ;
  &:hover {color:$green; text-decoration:none; border-color:transparent;}
}

*:focus { outline: none; }
a:focus { outline: none; }

html, body {
height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;//.9em;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	margin: 0px;
	padding: 0px;
	color: $dblue;
	background:$beige;
}

//.mainwrapper, .mainpanel {height:100%;}

.maincontent{
	float: left;
	width: 100%;	
}

.maincontentinner {
	padding: 34px 64px 34px 34px ;
}


.leftpanel {
	float: left;
	width: 240px;
	background: $dblue;
	//background: url(../appli/dblue.gif) top left repeat;
	position:absolute;
	//@include transition("all", 0.2s);
}

#notice {
	background: $yellow;
	@include roundcorners;
	padding:10px;
}



/*#outer1 {float:left; width:180px; padding:10px; background:#e0d0d0;}
#outer3 {float:right; width:180px; padding:10px; background:#b0b0b0;}
#outer2 {background:#e0e0e0; margin:10px 210px;}

#outer1, #outer2, #outer3 {padding-bottom:32767px; margin-bottom:-32767px;}
#wrapper {overflow:hidden; background:#e0e0e0;} */


.leftpanel .entypo:before { font-size:24px;}
.leftpanel .entypo.edi-check_2:before { font-size:20px; margin-left:2px;}

.entypo {
	margin-right: .1em;
	//display:block;
	vertical-align: middle; 
	line-height: 0;
}

.mainpanel {
	margin: 0;
	margin-left: 240px; /*margin-right: 300px;*/
}
/*
.rightpanel {
	width: 300px;
	float: right;
	background: #fff;
	top:0px;
	right:0px;
	position:absolute;
}
*/

.leftpanel.collapsed {margin-left : -240px;}
.mainpanel.goleft { margin-left:0px;}

.leftpanel.small {width:78px;}
.mainpanel.goleftsmall { margin-left:78px;}

.leftpanel.small li a i.entypo { margin-right:20px; }

.leftmenu, .logo { }


.leftpanel li a i.entypo { margin-bottom:6px; }
.nav li a.user-tab { padding-top: 24px; padding-bottom:8px; font-size:16px;}

.leftpanel { overflow:hidden;}

.leftmenu .nav-list {padding:0;}

.nav-list > li > a, .nav-list .nav-header {margin:0; padding:0; text-shadow:none; }



//.filters {min-width:194px;}

.filters-list {
  padding:0;
  font-size:18px;
  margin-bottom:24px;
  & i {float:left; margin-right:10px; margin-top:2px;}
  & > li { margin-top:4px;}
  & > li a {padding:5px 10px;  display:inline-block; @include roundcorners;}
  & > li a.active, & > li a:hover {background-color:$mblue; color:$white;}
}

@mixin btn {
}

.btn:hover, btn:focus {
  //transition: background 0.2s;
  @include transition("all", 0.2s)
}

.btn-primary {
  @include roundcorners;
  background:none;
  border:none;
  text-shadow: none;
  background-color:$green;
  &:hover {background-color:$dblue;};
  @include transition(background, 0.2s)
}


.leftmenu .badge { float:right; margin-top:5px; margin-right:5px;}


/* NAV BAR / rightbt _______________________________ */


.rightbt {
	display : block;
	float: right;
	width:25px;
	margin:0;
	margin-right:15px;
}

.nav li a.rightbt:hover {background-color: transparent;}
li a.rightbt {float:right;/* background-color:#9F0;*/}
.rightbt i { margin-left:-14px;  padding-top:7px;}

.account-tab { margin-left: 55px; font-size:16px; padding-top:30px; font-weight:bold;}
.account-tab a.rightbt { margin-right:0; margin-top:-3px;} /* ok */

/*a.rightbt .entypo { width:3px; padding:O;    top:Opx; margin-right: 3px;}*/
.rightbt .entypo:before {color: #999;  font-size:16px;}
.rightbt.entypo:before { font-size:16px;}
.edi-cog.entypo:before {font-size:13px;}
.rightbt:hover .entypo:before {color: #000;}

/*____________ */





h1 {font-size:37px;}
.page-title {font-size:37px; margin-bottom:30px;}
.togglemenu {
	display:none;
	position:absolute;
	bottom: 40px;
	left: 0px;
}
/*.togglemenu .entypo { width:20px;}*/
.togglemenu .entypo:before {font-size:24px;  color:#fff;}
.togglemenu .btn {
	background-image: none;
	background-color:#000;
	height:40px;
	padding: 8px 8px;
	padding-bottom:12px;
}


.tags {
  margin: 11px 0px;
}

.tag {
  font-size:14px;
  padding:2px 6px;
  background-color:lighten ($beige, 80%);
  border:lighten($dblue, 50%) solid 1px;
  @include roundcorners;
}

.tag-type {border-color:$orange;}
.tag-style {border-color:$green;}
.tag-legal {//border-color:$yellow;
  }

/* NAV BAR ____________________________________________________________ */

.logo {
	height:80px;
	background: $orange;
	padding-left:20px;
	padding-top:4px;
}

.logotype {
	position:absolute;
	margin-top:13px;
	color:#fff;
}

.leftpanel .entypo.logotype:before { font-size:50px;}
.leftpanel .entypo { width:30px; display:inline-block;}
a .logotype { color: $dblue;}


.leftmenu li a {
	color:#fff; font-size:19px;
	height: 25px;
	padding : 13px 0px 12px 24px;
	display:block;
	&:focus{text-decoration:none;}
}

.leftmenu li, .logo {width:240px;}

.click-nav {}
.nav li.comingsoon a, .comingsoon li a {color:#555;}

.leftmenu li {
	margin:0;
}

.leftmenu li a:hover {
	background: $beige;
	color:$dblue;
	& .righticon {display:block;}
}

.leftmenu .righticon {float: right; display:none;}

.leftmenu .user-tab a {padding-top:32px;}

i {font-style: normal;}

.recent { margin-top:6px;}
.recent li a {font-size:15px; height: 30px; padding: 6px 0 6px 34px; color:#999;}

.recent .pic {font-size:26px;height:20px;width:20px;display:inline;}

.recent .pic i {
  
  &:before {
    line-height: 26px; 
  }
}
/* plusmenu _____________________________________________________ */
.plusmenu {
  position: fixed;
  width:300px;
  right:-255px;
  top:30px;
  color:#fff;
  //background: $dblue;
  @include transition(all, 0.2s);
  z-index:2000;
}

.plusmenu-trigger {
  float:left;
  
}
.plusmenu:hover { right:0px;}

.pluslist {
  font-size:20px;
  margin-left:45px;
  padding:24px 30px;
  list-style: none;
  background : $green;
  
  //@include roundcorners;
  -webkit-border-radius:  0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
  
  width:255px;
  
  .list-header {font-size:20px;}
  li {line-height:30px;}
  li a { display: block;}
  li a:hover{color:$white;};
}

.plusmenu-trigger i {
  font-size:36px;
	display:inline-block;
  width:45px;
  height:45px;
  margin-right:-10px;
  text-align:center;
  background: $green;
  //@include roundcorners;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  &:before {line-height:47px;};
}

.plus-in-list {
  margin-top:20px;
  & a {color:lighten( $dblue, 50% );}
  & a:hover{color:$green;};
  & a i {font-size:36px; display:inline;
    }
  & a:hover span{display:inline;};
  & span {display:none;}
}




/* label-blocks ________________________________________ */
.pic {
	height:30px; width:30px;
	background-color:#CCC;
	display:inline-block;
	text-align:center;
	margin-right:8px;
	border: solid 1px lighten( $dblue, 50% );
	@include roundcorners;

  img {@include roundcorners;}
  i:before {line-height:30px;}
}





/* ELEMENTS ________________________________________ */
.meta { float:right; font-size:20px;}
.meta i {display:inline-block;}


/* List-large ________________________________________ */
.list-large {
  list-decoration:none;
  list-style:none;
  margin:0;
  font-size:16px;
  
}

.list-large li {
  padding:20px 0px;
  border-top: solid 1px lighten( $dblue, 60% );
  list-decoration:none;
  clear:both;
  min-height:60px;
  @include transition("background-color", 0.2s);
  //@include transition("width", 0.2s);
  background:$beige;
  position:relative;
  
  &:first-child{border:none;}
  
  &:hover{
    background:$white;
    //width:102%;
    //@include transfX;
    }
  &:hover .meta .actions { display:block;
    }
    
  h3 {
    font-size:24px;
  }
  .meta { position: absolute; right:0; top:24px;}
}

.meta .actions {
  display:none;
  a {float:right;}
}


.list-large li.list-header { padding:0; min-height: 10px; border:none; margin-bottom:10px;
  &:hover{background:none;
  }
}

.label-big {
  @include roundcorners;
  background:$dblue;
  color:$white;
  text-align: center;
  padding: 8px 14px;
  margin-bottom:10px;
}
.cool {background:$green2;}
.cold {background:$blue;}
.hot {background:$red;}

.shybtn{
  font-size:16px;
  padding: 4px 12px;
  text-align: center;
  border: solid 1px $vlblue;
  @include roundcorners;
  &:hover{
    background:$dblue;
    color:$white;
    border-color:transparent;
  };
}


.logout-btn {float:right;}

/* Custom-search-form ________________________________________ */

.search {float:left;margin-bottom:24px;width:100%;}
#custom-search-form {
  margin:0;
  margin-top: 5px;
  padding: 0;
}

#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#custom-search-form button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search-query:focus + button {
  z-index: 3;
}

input.search-query {width:100%;}




/* label-blocks (Hero-blocks)____________________ */
.label-blocks .span4 { min-width:220px;}
.label.label-large {
  display: inline-block;
  min-height: 200px;
  width: 100%;
  text-align:center;
  font-weight:normal;
  background: transparent;
  color: $dblue;
  display: block;
  padding: 5px;
  @include borderbox;
}

h4 {font-weight:normal;}
a.label-large:hover {color:$dblue;}
a.label-large:hover i {background: $yellow;}

.label-large h4 { font-size:22px;}
.label-large p { font-size:16px; color: #666;}
.label-large i:before{ line-height:140px;}
.label-large i {
		font-size:70px;
		display:inline-block;
		width:140px;
		height:140px;
		background:$white;
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
		border-radius: 200px;
		margin-bottom:8px;
}


.nicescroll-rails {}
.nicescroll-rails div {
  background-color:$vlblue !important;
  border:none !important;
  margin-right:10px;
  z-index:3000;
}

/* View EDIT _____________________________________________________ */


//.controls, .control-group//, .control-group label 
//{display:inline;}
.input-append .add-on, .input-prepend .add-on {
  height:30px;
  border:none;
  background:none;
  background:$vlblue;
  color:$white;
  text-shadow: none;
  padding: 0 6px;
  line-height: 30px;
  // @include contentbox;
  // @extend .btn-primary;
};

.help-block {
    margin-top: 5px;
}
.input-append .add-on { text-align: left;}
.input-prepend .add-on { text-align: right;}


.form-horizontal .control-group:last-child {margin-bottom:0px;} 

.form-horizontal .controls {
    margin-left: 220px;
}
.form-horizontal .control-label {
    width: 190px;
    padding:3px;
}

.inline-inputs {
  margin-left:220px;
  .controls {margin-left:0px;
  }
  .control-group {display:inline-block; margin-bottom:0px; margin-right:10px;
  &:after {clear: none;};
  }
}


.nested-fields, .links {position: relative;}

.remove_nested_fields, .add_nested_fields {margin-left:220px; font-size:24px; display:block;
  //position:absolute;
  top:20px;
  right:20px;
  
}

.add_nested_fields i {float:right;
  color:$green;
  } 
.remove_nested_fields i {float:right;
  color:$red;
  }
  
.fields {margin-bottom: 0px;}

.nested-fields, .form-horizontal .links {
  padding:20px 0px;
  min-height:20px;
  &:hover {background-color:$white;}
}

.form-horizontal .links {margin-bottom: 40px;}
.form-inputs {max-width:900px;}


label {
    font-size: 16px;
    line-height: 20px;
}

.form-actions {background:none;}

/*
.control-label.apple { padding-top:0;
  select {width:auto; background:none;  border:none; font-size:18px; font-weight:normal; color:$mblue; text-align:right; width:180px;}
  //select:after{display:none;}
}
input.apple  {margin-left:20px;}
*/

.add-on.dropdown-toggle {padding: 5px 10px 5px 10px;}

select:focus { outline: none; }

.caret {
border-color:#ffffff transparent transparent transparent;
border-width:4px;
border-style:solid;
content: "";
display:inline-block;
}

.big-input {
  height:40px;
  width:100%;
  @include borderbox;
}

#venue_name {
  @extend h4;
  @extend .big-input;
  
//.Xlarge-input;
}

.venue_name.control-group {margin-bottom:0px;}
.venue_name.control-group:after {
    clear: none;
}
.venue_name .control-label {display:none;}
.form-horizontal .pic-container {
  margin-left:90px;
  @include square(100);
  .pic { @include square(100);}
}



//.checkbox, .radio {margin-right:20px;}
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
    margin-left: 20px;
}
.venue_venue_info_bar .checkbox { display:inline-block; margin-right: 20px;}


.tagsinput { background:$white;
  width:100%;
  @include roundcorners;
  //border: $vlblue solid 1px;
  border: 1px solid #CCCCCC;
  padding:10px;
}

.venue_venue_info_remark {
  textarea { resize:vertical; width:100%; min-height:80px; height:80px;}
}

.venue_addresses_city .control-label {display:none;}
.venue_addresses_postal_code

//input.inputlarger { width:350px !important ;}


.venue_addresses_kind { position:absolute; right:50px; top: 10px;}

.form-inputs header .btn {float:left; margin-left:25px;}
.form-inputs header {margin-bottom:50px;}
select.select-right {position:absolute; top:20px; left:500px; width:auto; background:$vlblue; color:$white;}


/* View SHOW _____________________________________________________ */
//.toppage {background:#fff;}
.showitem header {}

header {
  display:inline-block;
  margin-bottom:12px;
  .infos {
    margin-left:80px;
    font-size:20px;
    .infolabel {font-size:15px;}
  } 
}


h3 {
  font-size:32px;
  line-height:32px;
  margin:0px;
  margin-top:-4px;
  margin-bottom: 11px;
}

h4 { font-size:26px;
  //font-weight:bold;
  margin-bottom:18px;
}

#account-page .row-fluid { margin-bottom:36px;}

.pic-container { height:auto; width: 70px; float:left; margin-right:8px;}
.pic {
  @include square(60);
  font-size:50px;
  display:block;
  i {text-align:center; width:100%;}
  i:before {line-height:60px; text-align:center;}
}

.activityfield {
  resize:vertical;
  height:70px;
  min-height:70px;
  max-height:300px;
  width:100%;
  background:$white;
}

/* ACCOUNT ________________________________________ */

#profile-photo .pic { float:left;}

/* Views SHOW Right Menu ________________________________________ */

.rightmenu {padding: 20px;}

.infolabel {
  font-size:0.9em;
  color: $lblue;
  
}
.dblue{color:$dblue;}

ul.infos {margin-left:0; margin-bottom:24px;
  list-style:none;
  }

/*
.rightpanel .entypo {display:inline-block;}
.rightpanel ul {padding-top: 6px; border-top: #CCC solid thin; margin-top:16px;}
.rightpanel .nav-header {display:inline-block; padding-left:0;}
.rightpanel ul a { display:inline;}
*/


.nav-tabs {font-size:16px;
  font-weight:bold;
  border-bottom:solid 1px lighten( $dblue, 60% );
}
  
.nav-tabs > li > a {
  padding:0;
  margin-right:36px;
  color:lighten( $dblue,40% ) ;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.sub-tabs > li > a {
  font-size:16px;
  margin-right:14px;
}

.sub-pane { background-color:$white}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	background: none;
	border:none;
	border-bottom: 1px solid $dblue;
	color: #555555;
	cursor: default;
	
}

.nav-tabs > li > a:hover {
  /*color:lighten( $dblue, 40% );*/
  color:$green;
}


.editbtn:hover .hiddentag {display:block;};
.hiddentag { display:none;}



/* Bootstrap tooltip extension ________________________________________ */

.tooltip.top-left .tooltip-arrow {
  bottom: -5px;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: black;
}
.tooltip.top-right .tooltip-arrow {
  bottom: -5px;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: black;
}
.tooltip.bottom-left .tooltip-arrow {
  top: -5px;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: black;
}
.tooltip.bottom-right .tooltip-arrow {
  top: -5px;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: black;
}






/* MEDIA SCREEN SIZE ____________________ */
@media (max-width: 767px) {
body { padding:0px;}
.togglemenu {display: inline; margin-left:-20px;}

.filters-list {float:left; width: 33%;}
}

