$dblue:   rgba(48, 48, 58, 1); //#30303a;
//$dblue2:  ;
$dblue90: rgba(58, 58, 68, 1); //#45454e;
$mblue:   lighten( $dblue, 20% );
$lblue:   lighten( $dblue, 40% );
$vlblue:  rgba(131, 131, 137, 1); //lighten( $dblue, 60% );
$beige:   #edede8;
$orange:  #ff5a3e;
$yellow:  #EDE232;
$green:   rgba(80, 190, 180, 1);//#50bfb2
$green2:  rgba(50, 210, 100, 1);
$red:     rgba(204, 57, 50, 1);
$blue:    rgba(80, 180, 210, 1);
$white:   #fff;


@mixin roundcorners {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

@mixin roundcornersFX($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin borderbox {
  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;
}

@mixin b-radius-notLR ($lr) {
  -moz-border-radius-top#{$lr}:  0;
  -webkit-border-top-#{$lr}-radius: 0;
  border-top-#{$lr}-radius: 0;
  -moz-border-radius-bottom#{$lr}:  0;
  -webkit-border-bottom-#{$lr}-radius: 0;
  border-bottom-#{$lr}-radius: 0;
}

@mixin contentbox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

@mixin transition($prop, $speed) {
  -webkit-transition: $prop $speed ease-in-out;
  -moz-transition: $prop $speed ease-in-out;
	-ms-transition: $prop $speed ease-in-out;
	-o-transition: $prop $speed ease-in-out;
	transition: $prop $speed ease-in-out;
	
}

@mixin square($px) {
  height: #{$px}px;
  width: #{$px}px;
}
  
@mixin transfX {
  -webkit-transform:scaleX(1.1);
  -moz-transform:scaleX(1.1);
  -ms-transform:scaleX(1.1);
  -o-transform:scaleX(1.1);
  transform:scaleX(1.1);
}

@mixin noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin btn {}



/* ______________________________________________________________ INIT + FLATIZER   */

*:focus { outline: none; }
a:focus { outline: none; }

a:visited, a:active, a:link {text-decoration:none;}

::-moz-selection {background: $yellow; /* Firefox */}
::-webkit-selection {background:rgba(237, 226, 50, 0.99); /* Chrome */}
::selection {background: $yellow; /* Safari */}




.nav, .leftpanel {@include noselect;}

#activityfield, select, input[type="file"], textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-color:$vlblue;
    //transition: none;
    height:24px;
    font-size: 16px;
    &:focus {border-color:$green; box-shadow: none;};
}
select, input[type="file"] {height: 35px;}

    

.add-on.dropdown-toggle {padding: 5px 10px 5px 10px;}

//select:focus { outline: none; }

.caret {
border-color:#ffffff transparent transparent transparent;
border-width:4px;
border-style:solid;
content: "";
display:inline-block;
}

.fullwith-input {width:100%;}
.big-input {
  display:block;
  height:50px !important;
  font-size:20px !important;
  width:100%;
  @include borderbox;
}


/* ____________  */

/* ____________________________________ ICO  */

a.ico {vertical-align: middle; font-size:22px; margin-left:2px;
  border-bottom:none !important;
  &:before { font-family: 'Entypo'; line-height: 1;}
  &:visited, &:active, &:link {color:$dblue;} 
}

.ico.favorite {
  &:before, &.full:hover:before {content: "\e01e";}//.edi-heart-2
  &:hover:before, &.full:before {content: "\e01d";} //.edi-heart
}
.ico.contacted {
  &:before, &.full:hover:before {content: "\e024";}//.edi-quote
  &:hover:before, &.full:before {content: "\e025";} //.edi-comment
}
.ico.dealed {
  &:before, &.full:hover:before {content: "\e030";}//.edi-trophy
  &:hover:before, &.full:before {content: "\e02d";} //.edi-flag
}
.ico.principal {
  &:before, &.full:hover:before {content: "\e020";}//.edi-star-2
  &:hover:before, &.full:before {content: "\e01f";} //.edi-star
}

.ico.export:before {
	content: "\e015";
}

//\e02f";}//.edi-tools

/* ____________  */



textarea {@include borderbox;}


a, .btn-link {color:$dblue;
  &:hover, &:active {color:$green; text-decoration:none;}
}


.showlink { border-bottom : dotted 1px $green ;
  &:hover {color:$green; text-decoration:none; border-color:transparent;}
}

.infos-line a, .infos a {@extend .showlink;}


html, body {
height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;//.9em;
	line-height: 1.5em;
	letter-spacing: 0.03em;
	margin: 0px;
	padding: 0px;
	color: $dblue;
	background:$beige;
}

.maincontent{
	float: left;
	width: 100%;
	margin-bottom:50px;
}

.maincontentinner {
	padding: 34px 64px 34px 48px;//34px 64px 34px 34px ;
}

.leftpanel {
	float: left;
	width: 240px;
	background: $dblue90;   //background: url(../appli/dblue.gif) top left repeat;
	position:fixed;
	//@include transition("all", 0.2s);
}

.entypo {
	margin-right: .1em;
	//display:block;
	vertical-align: middle; 
	line-height: 0;
	@include noselect;
}

.mainpanel {
	margin: 0;
	margin-left: 240px; /*margin-right: 300px;*/
}
/*
.rightrowel {
	width: 300px;
	float: right;
	background: #fff;
	top:0px;
	right:0px;
	position:absolute;
}
*/



/* ______________________________________________________________ notices   */
$lyellow: rgba(243, 235, 113, 1);
$lblue2: rgba(170, 220, 234, 1);
$lgreen: rgba(167, 223, 217, 1);
$lred: rgba(255, 184, 171, 1);
$lbrown: rgba(209, 209, 197, 1);

/* _________________  With SPRITES
#notice {
	@include roundcorners;
	padding: 16px 24px 16px 90px;
	background-image: url('../appli/sprites/sprites-notices.png'); background-repeat : no-repeat;
	//width: 41px; height: 36px;
	background-position: 16px -48px;  background-color: $lblue2;
	&.warning { background-position: -2px -4px;   background-color: $lyellow;}
  &.info    { background-position: -2px -48px;  background-color: $lblue2;}
  &.success { background-position: -2px -95px;  background-color: $lgreen;}
  &.error   { background-position: -2px -48px;  background-color: $lred;}
  &.info2   { background-position: -2px -48px;  background-color: $lbrown;} 
}*/


.notice {
	@include roundcorners;
	padding: 25px 24px 25px 88px;//20px 24px 20px 90px;
	background-repeat : no-repeat;
	background-position: 22px 15px ;
	margin-bottom:24px;
	//width: 40px;
	min-height: 25px;
	position:relative;
	background-image: url('../appli/sprites/notices-info.png');  background-color: $lblue2;
	.noticetitle {font-weight:bold; clear:right;
	  &:after{content:" — ";};
	  } //display:block;
    
  .btn-close{display:none;  font-size:36px; margin-top: -5px; position:absolute; top:25px; right:24px;
    &:hover{color:$red;};
    
    &.ico:before {content: "\e07b";} //.edi-cross
    }
    
  &:hover .btn-close{display:block;};
	&:hover {background-color:$white !important;}
	
	&.warning { background-image: url('../appli/sprites/notices-warning.png');  background-color: $lyellow;}
  &.info    { background-image: url('../appli/sprites/notices-info.png');  background-color: $lblue2;}
  &.success { background-image: url('../appli/sprites/notices-success.png');  background-color: $lgreen;}
  &.error   { background-image: url('../appli/sprites/notices-error.png');    background-color: $lred;}
  &.info2   { background-image: url('../appli/sprites/notices-info.png');  background-color: $lbrown;} 
}

/* _______#### notices   */




.section-title {font-size:24px; margin-bottom:24px;}



.btn:hover, btn:focus {
  //transition: background 0.2s;
  @include transition("all", 0.2s)
}

.btn-primary {
  @include roundcorners;
  background:none;
  border:none;
  text-shadow: none;
  background-color:$green;
  &:hover {background-color:$dblue;};
  @include transition(background, 0.2s)
}




/* ______________________________________________________________ Headlines   */
h1, h2, h3, h4 {font-weight:300; display:inline; line-height:inherit;}

h1 {font-size:37px; color:$orange;}
h2 {font-size:32px; font-weight:bold;}
h3 {font-size:28px;}
h4 {font-size:24px;}
h5 {font-size:20px;}
h6 {font-size:17px;}

h2 {
  line-height:32px;
  margin:0px;
  margin-top:-4px;
  margin-bottom: 11px;
}

h4 { margin-bottom:18px;}



.page-title {
  @extend h1;
  margin-bottom:30px;
  display:block;
}

header {display:block;}



/* __________________________________ togglemenu   */
.togglemenu {
	display:none; position:fixed;
	top: 30px; left: 0px;
}
/*.togglemenu .entypo { width:20px;}*/
.togglemenu .entypo:before {font-size:24px;  color:#fff;}
.togglemenu .btn {
	background-image: none;
	background-color: $dblue;
	height:40px;
	padding: 8px 8px;
	padding-bottom:12px;
}







/* ________________________________________________________ NAV BAR   */

/*  _______________________________________________________  leftpanel   */

/* __________________________________ small_goleft  */
.leftpanel.collapsed {margin-left : -240px;}
.mainpanel.goleft { margin-left:0px;}

.leftpanel.small {width:78px;}
.mainpanel.goleftsmall { margin-left:78px;}

.leftpanel.small li a i.entypo { margin-right:20px; }
.leftpanel.small {
  .account-tab, .user-tab span {display:none;}
  .logo {padding-left:13px;}
  .leftmenu .righticon {
      display: block;
      float: none;
      margin-left: 7px;
      
  }

}
/* ____________*/




.nav li a.user-tab { padding-top: 24px; padding-bottom:8px; font-size:16px;}

.leftmenu .nav-list {padding:0;}

.nav-list > li > a, .nav-list .nav-header {margin:0; padding:0; text-shadow:none; }

.leftpanel { overflow:hidden;}
.leftpanel i { font-size:24px;}
.leftpanel .entypo.edi-check_2 { height:24px;} // tasks icon
.leftpanel .entypo.edi-check_2:before { font-size:20px; margin-left:2px;}



.logo {
	height: 80px;
	background: $orange;
	padding-left: 20px;
	padding-top: 6px;
}

.logotype {
	position: absolute;
	margin-top: 13px;
	color: #fff;
}

.leftpanel .entypo.logotype:before { font-size:50px;}
.leftpanel .entypo { width:30px; display:inline-block;}
a .logotype { color: $dblue;}


.footer {
  position:fixed;
  bottom:0px;
  padding: 0 24px;
  margin-bottom:24px;
  a {color:$mblue;}
  a:hover{color:$white;};
  i {font-size:18px;}
  
}
a.pull-right {float:right;}
.leftmenu li a {
	color:$beige; font-size:19px;
	height: 25px;
	padding : 14px 0 14px 26px;//13px 0px 12px 24px;
	display:block;
	&:focus{text-decoration:none;}
}


.leftmenu, .logo { }

.leftpanel li a i.entypo { margin-bottom:6px; }



.leftmenu a .badge { float:right; margin-top:4px; margin-right:24px; background:none; border: solid 1px $lblue; color:$lblue;}

.leftmenu li, .logo {width:240px;}

.click-nav {}
.nav li.comingsoon a, .comingsoon li a {color:$vlblue;}

.leftmenu li {
	margin:0;
}

.leftmenu li a:hover {
	background: $beige;
	color:$dblue;
	& .righticon {display:block;}
}

.entypo.edi-cog   {font-size:13px;}
.entypo.edi-arrow-down-5 {font-size:17px; margin-top:6px;}

.leftmenu .righticon {float: right; display:none;margin-top:6px;}

.leftmenu .user-tab a {padding-top:32px;}

i {font-style: normal;}

.recent { margin-top:6px;display: none;}
.recent li a {font-size:15px; height: 30px; padding: 6px 0 6px 34px;}
//.recent .entypo {width:20px;}

//.recent .pic {font-size:26px;height:20px;width:20px;display:inline;}
/*
.recent .pic i {
  &:before {
    line-height: 26px; 
  }
}
*/


/* NAV BAR / rightbt _______________________________ */

.rightbt {
	display : block;
	float: right;
	width:25px;
	margin:0;
	margin-right:15px;
}

.nav li a.rightbt:hover {background-color: transparent;}
li a.rightbt {float:right;/* background-color:#9F0;*/}
.rightbt i { margin-left:-14px;  padding-top:7px;}

.account-tab { margin-left: 55px; font-size:16px; padding-top:30px; font-weight:bold;}
.account-tab a.rightbt { margin-right:0; margin-top:-3px;} /* ok */

/*a.rightbt .entypo { width:3px; padding:O;    top:Opx; margin-right: 3px;}*/
//.rightbt .entypo{color: #999;  font-size:16px;}
//.entypo.rightbt { font-size:16px;}

//.rightbt:hover .entypo:before {color: #000;}

/*____________ */





/*  ________________________________________________________ filters    */
//.filters {min-width:194px;}

.filters-list {
  padding:0;
  font-size:18px;
  margin-bottom:24px;
  & i {float:left; margin-right:10px; margin-top:2px;}
  & > li { margin-top:4px;}
  & > li a {padding:5px 10px;  display:inline-block; @include roundcorners;}
  & > li a.active, & > li a:hover {background-color:$mblue; color:$white;}
}


/*  ________________________________________________________ plusmenu    */
.plusmenu {
  position: fixed;
  width:300px;
  right:-255px;
  top:30px;
  color:#fff;
  //background: $dblue;
  @include transition(all, 0.2s);
  z-index:800;
}

.plusmenu-trigger {
  float:left;
  
}
.plusmenu:hover { right:0px;}

.pluslist {
  font-size:20px;
  margin-left:45px;
  padding:24px 30px;
  list-style: none;
  background : $green;
  
  //@include roundcorners;
  -webkit-border-radius:  0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;

  width:255px;
  
  .list-header {font-size:20px;}
  li {line-height:30px;}
  li a { display: block;}
  li a:hover{color:$white;};
}

.plusmenu-trigger i {
  font-size:36px;
	display:inline-block;
  width:45px;
  height:45px;
  margin-right:-10px;
  text-align:center;
  background: $green;
  //@include roundcorners;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  &:before {line-height:47px;};
}





/* label-blocks ________________________________________ */





/* ELEMENTS ________________________________________ */






.label-big {
  @include roundcorners;
  background:$dblue;
  color:$white;
  text-align: center;
  padding: 8px 14px;
  margin-bottom:10px;
}
.cool {background:$green2;}
.cold {background:$blue;}
.hot {background:$red;}

.shybtn{
  font-size:16px;
  padding: 4px 12px;
  text-align: center;
  border: solid 1px $vlblue;
  @include roundcorners;
  &:hover{
    background:$green;
    color:$white;
    border-color:transparent;
  };
}

.logout-btn {float:right;}



/* Custom-search-form ________________________________________ */

.search {float:left;margin-bottom:24px;width:100%;}
#custom-search-form {
  margin:0;
  margin-top: 5px;
  padding: 0;
}

#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#custom-search-form button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.search-query:focus + button {z-index: 3;}
input.search-query {width:100%;}


/* label-blocks (Hero-blocks)____________________ */
.label-blocks .span4 { min-width:220px;}
.label.label-large {
  display: inline-block;
  min-height: 200px;
  width: 100%;
  text-align:center;
  font-weight:normal;
  background: transparent;
  color: $dblue;
  display: block;
  padding: 5px;
  @include borderbox;
}


a.label-large:hover {color:$dblue;}
a.label-large:hover i {background: $yellow;}

.label-large h4 { font-size:22px; display:block;}
.label-large p { font-size:16px; color:$mblue;}
.label-large i:before{ line-height:140px;}
.label-large i {
		font-size:70px;
		display:inline-block;
		width:140px;
		height:140px;
		background:$white;
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
		border-radius: 200px;
		margin-bottom:8px;
}

.modal {
  form.simple_form {margin:0;}
  @include roundcorners;
}

.modal-header, .modal-body, .modal-footer {padding:30px;}
.modal-body {padding: 0 30px;}
.modal-header, .modal-body { background-color: $beige;}
.modal-header h3 {color:$orange;}
.modal-header {border: none;}
.modal-footer {
    padding-top:20px;
    background-color: $beige;
    border: none;
    border-radius: 0 0 3px 3px;
    box-shadow:none;
}


.nicescroll-rails {}
.nicescroll-rails div {
  background-color:$vlblue !important; // dblue90
  border:none !important;
  margin-right:10px;
  z-index:3000;
}

/* View EDIT _____________________________________________________ */


//.controls, .control-group//, .control-group label 
//{display:inline;}

.form-edit{margin-top:50px;}
.input-append .add-on, .input-prepend .add-on {
  height:30px;
  border:none;
  background:none;
  background:$vlblue;
  color:$white;
  text-shadow: none;
  padding: 0 6px;
  line-height: 30px;
  // @include contentbox;
  // @extend .btn-primary;
};

.help-block {
    margin-top: 5px;
}
.input-append .add-on { text-align: left;}
.input-prepend .add-on { text-align: right;}


.form-horizontal .control-group:last-child {margin-bottom:0px;} 

.form-horizontal .controls {
    margin-left: 220px;
}
.form-horizontal .control-label {
  width: 190px;
  padding:0px;
}

.control-group > .control-label {margin-top:5px; color:$mblue;
  a {color:$mblue;}
  }

.inline-inputs {
  margin-left:220px;
  .controls {margin-left:0px;
  }
  .control-group {display:inline-block; margin-bottom:0px; margin-right:10px;
  &:after {clear: none;};
  }
}


.nested-fields, .links {position: relative;
  &:hover {background-color:$white;}
  }

.remove_nested_fields, .add_nested_fields {
  margin-left:220px; font-size:20px; display:block;
  //position:absolute;
  //top:20px;
  //right:20px;
  color:$lblue;
  i {font-size:24px;}
  
}

.fields-group .fields:not(:last-child) {margin-bottom:24px;};
.add_nested_fields i {float:right;
  color:$green2;
  } 
.remove_nested_fields i {float:right;
  color:$red;
  }
  
.fields {margin-bottom: 0px;
  //&:hover {background-color:$white;}
  }

.nested-fields, .form-horizontal .links {
  padding:10px 0px;
  min-height:20px;
  
}

.form-horizontal .links {margin-bottom: 40px;}
.form-inputs {max-width:900px;}
.form-horizontal .form-actions {
    padding-left: 220px;
}

label {
    font-size: 16px;
    line-height: 20px;
}

form section { margin-bottom:120px;}

form .section-title { margin-left:220px;
  //font-weight:300; font-size:40px;
  margin-bottom:40px;
}

.form-actions {background:none;}

/*
.control-label.apple { padding-top:0;
  select {width:auto; background:none;  border:none; font-size:18px; font-weight:normal; color:$mblue; text-align:right; width:180px;}
  //select:after{display:none;}
}
input.apple  {margin-left:20px;}
*/

#venue_name {
  @extend h4;
  @extend .big-input;
  
//.Xlarge-input;
}

.venue_name.control-group {margin-bottom:0px;}
.venue_name.control-group:after {
    clear: none;
}
.venue_name .control-label {display:none;}
.form-horizontal .pic-container {
  margin-left:90px;
  @include square(100);
  .pic { @include square(100);}
  position:absolute;
}



//.checkbox, .radio {margin-right:20px;}
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
    margin-left: 20px;
}
.venue_venue_info_bar .checkbox { display:inline-block; margin-right: 20px;}


.tagsinput { background:$white;
  width:100%;
  @include roundcorners;
  //border: $vlblue solid 1px;
  border: 1px solid #CCCCCC;
  padding:10px;
}

.venue_venue_info_remark {
  textarea { resize:vertical; width:100%; min-height:80px; height:80px;}
}

.venue_addresses_city .control-label {display:none;}
.venue_addresses_postal_code

//input.inputlarger { width:350px !important ;}

.addresses select:first-child { position:absolute; right:50px; top: 10px;}

//.form-inputs header .btn {float:left; margin-left:25px;}
.form-inputs header {margin-bottom:50px;}

.addresses > div:first-child {position:absolute; top:10px; left:270px;}
select.select-right { width:auto; background:$vlblue; color:$white;}





/*  _____________________________________________________ DASHBOARD   */



.section-title {
  padding:20px 0;
  border-bottom: solid 1px $lblue;
  .title-infos, .title {display: inline-block;}
  .title {font-size:28px;
    .badge {font-size:18px; }
  }
  .badge {font-size:15px; margin: 0 4px; font-weight:300;}
}

#dash-stats .section-title {border-bottom: none;}
#dash-stats .span3 {border-top: solid 1px $lblue;}

.numbers-xlarge {font-size:70px; margin-top:20px; line-height:1.2em;}

section {
  margin-top: 20px;
  margin-bottom: 40px;
}


.badge {height:auto; padding: 2px 9px; line-height:1.1em; @include roundcornersFX(30px);
  font-weight:300;text-shadow:none;
  //display:inline-block;
}
  
  
.badge-medium { padding: 3px 10px;}

.badge-black {background:$dblue;}
.badge-red {background:$red;}
.badge-orange {background:$orange;}
.badge-blue {background:$blue;}
.badge-green {background:$green2;}
.badge-shy {background:none; border: solid 1px $lblue; color:$dblue; ;}








/*  _____________________________________________________  LISTS   */
.list-items {
  list-decoration:none;
  list-style:none;
  margin:0;
  font-size:16px;
  li {
    padding:20px 0px;
    border-bottom: solid 1px lighten( $dblue, 60% );

    position:relative;
    clear:both;
    
    background:$beige;
    @include transition("background-color", 0.2s);
    //@include transition("width", 0.2s);
    &:last-child{ border:none;}
  }
  li:hover .actions { display:block;}
  
  li:hover .mini-map { display:none;}
  li:hover{
    background:$white;
    //width:102%;
    //@include transfX;
  }
}

.list-large, .list-medium { @extend .list-items; }

.list-items li .badge {
    border-radius: 6px 6px 6px 6px;
    float: right;
    font-size: 14px;
    padding: 5px 10px;
}

#dates .list-large .infos {
    display: inline-block;
    margin-right: 10px;
}
/*  _____________________________________________________  ROWS   */

//.row-table{display:inline;}
.mainrow {
  //background: green;
  overflow: hidden;
  
}
.rightrow {
  width: 320px;
  height:100%;
  margin-left:20px;
  float: right;
  //background: $vlblue;
  &.small {width:110px;}
  .s1of2 {display:inline-block; width:150px}
  a:not(.ico) {font-size:15px !important;}
}


.infos-line {display:block;
  //& > span:not(:last-child):after {content:"–";}
  .jauge:not(:first-child):before {content:"+";}
  .location:not(:first-child):before {content:"–";}
}


.meta { float:right; }
.meta i {display:inline-block;font-size:20px;}
//.list-large .meta { position: absolute; right:0; top:24px;}




/* __________________________________ tags   */

.tags {
  margin-top: 9px;
  margin-bottom: 2px;
}
a.tag {
  font-size:14px;
  padding:2px 6px;
  background-color:lighten ($beige, 80%);
  border:lighten($dblue, 50%) solid 1px;
  @include roundcorners;
  text-decoration:none;
  text-transform:lowercase;
  &:hover {text-decoration:none; color:$white;}
}

a.tag-type {border-color:$orange; &:hover {background-color:$orange;} }
a.tag-style {border-color:$green; &:hover {background-color:$green;} }
a.tag-legal {border-color:$yellow;  &:hover {background-color:$yellow; color:$dblue;} }

.number {font-size: 20px; color:$dblue;}
.city:after {content:",";};


.actions {
  display:none;
  //position:absolute;
  float:right;
  z-index:3;
  position:absolute; right:0;
}

.mini-map { position:absolute; right:0; top:54px; z-index:2;}


.row-fluid [class*="span"] { min-height :15px}

/*  _____________________________________________________  LISTS   */



.btn-in-list {
  & a {color: $dblue; display:block; font-size:20px;
    padding-top:20px;}
  & a:hover{color:$green;};
  & a i {font-size:36px; display:inline;
    }
  & a:hover span{display:inline;};
  & span {display:none; margin: 0 10px;}
}

.align-right{text-align:right;}

li {line-height: inherit;}

.list-header .meta {position:absolute; top:0; right:0;}



/* __________________________________ List_medium  */
.list-medium li {
  a {font-size:17px;}
  line-height:28px;
  a {display:block; }
  min-height:28px;
  padding:14px 0px;
  border-bottom: dotted 1px lighten( $dblue, 60% );
  .badge {@include roundcornersFX(6px); font-size:14px; padding:5px 10px; float:right;}
  /*.span7 {font-size:17px;
    a { margin-left:25px; }
    }
  .span3 {font-size:15px; color:$lblue;
    a {color:$lblue;
    &:hover {color:$green;}
    }
    }*/
    
  input[type="checkbox"] {
      margin: 6px 14px 0 0 ;
      float:left;
  }
  &:hover .badge { display:none;}
  .shybtn { padding:0px 8px;}
  .pic img {margin-top:-3px;}
  .actions {position:relative;}
}




//.s1of2 {display:inline-block; width:40%;}

.list-medium .btn-in-list a i {font-size:30px !important;}

.infos {color:$mblue;} 
.shybtn { padding:2px 8px; margin-left:4px;}



/* __________________________________  List_large   */



.list-large {
  .actions {top:56px;}
  .content {font-size:15px;color:$dblue;}
  li {
    padding : 24px 0; padding-top:22px;
    min-height:60px;
    
    &.list-header { padding:0; min-height: 10px; border:none;
      margin-bottom:10px;
      &:hover{background:none;}}
  }
}



.list-large {
  color:$vlblue;
  .rightrow {width:90px;}
  //.meta {margin-bottom: 10px;}
  h3{ display:block; margin-top:0px; margin-bottom: 16px;}
  //&.cards {min-height: 60px;}
}





.list-large h4 {margin-top:0px; margin-bottom: 11px; color:$dblue;}
#team .list-large h4 {display:block;}

#activity .list-large  {
  h4, .infos {display:inline-block; margin-right:10px;}
  .pic-mini {
    margin: 0 4px;
    text-decoration:none; width:23px;}
}



/*  _____________________________________________________ VIEW_SHOW   */
//.toppage {background:#fff;}
.showitem header {}

header {
  display:inline-block;
  margin-bottom:24px;
  .infos {
    margin-top: 6px;
    margin-left:80px;
    //font-size:20px;
    //.infolabel {font-size:15px;}
  } 
}

.btn-secondary {
  @extend .btn-primary;
  background:$vlblue;
  color:$white;
  &:hover, &:focus, &:active {
    background:$green;
    color:$white;
  }
}


.bold {font-weight:bold;}

#account-page .row-fluid { margin-bottom:36px;}

.pic-container { height:auto; width: 70px; }

.pic {
  float:left; 
  margin-right:18px;
  //@include square(60);
  width:60px;
  display:inline-block;
	text-align:center; 
  img {
    @include roundcorners;
    border: solid 1px lighten( $dblue, 50% );
  }
}


.pic-mini {@include square(24);margin-right:12px; margin-top:1px;float:none;}
.pic-small {@include square(44);margin-right:14px; margin-top:0;}





/*  ________________________________________ activityfield*/
#activityfield {
  resize:vertical;
  height:80px;
  min-height:80px;
  max-height:300px;
  background:$white;
  float:left;
  font-size:17px;
  padding:8px;
  &:focus{
    background:$green;
    color:$white;
    border:none;
  };
}

#activityfield-outter{
  display:inline-block;
  width:100%;
  #activityfield{ width:95%;
    @include b-radius-notLR ("right")
    }
  .btn {
    width:5%;
    min-height:80px;
    font-size:24px;
    @include b-radius-notLR ("left");
    margin-left:-1px;

    }
}

.btn-secondary i {padding-top:4px; margin:0;
  &:before{ width:15px;overflow:hidden;}
  }





/* ACCOUNT ________________________________________ */

#profile-photo .pic { float:left;}

/* Views SHOW Right Menu ________________________________________ */

//.rightmenu {padding: 20px;}

ul.list-infos {
  margin-left:0; margin-bottom:24px;
  list-style:none;
  list-decoration:none;
  li {margin-bottom:3px;}
  h4 {margin-top:7px; margin-bottom:6px;}
  a {@extend .showlink;}
}

.infolabel {
  font-size:0.9em;
  color: $lblue;
  
}



ul.list-small {
  font-size:14px;
  line-height: 1.4em;
  list-style:none;
  margin: 11px 0 20px 25px
  
}

ul.social-list {
  list-style:none;
  margin-left:0;
  font-size:14px;
  line-height: 1.4em;
  color:$vlblue;
  li {
    margin-bottom:16px;
    span:first-child {font-size:12px; color:$vlblue; font-weight:bold;
      &:after {content:" —";}
    }
  }
}


//.dblue{color:$dblue;}

/*
.rightrowel .entypo {display:inline-block;}
.rightrowel ul {padding-top: 6px; border-top: #CCC solid thin; margin-top:16px;}
.rightrowel .nav-header {display:inline-block; padding-left:0;}
.rightrowel ul a { display:inline;}
*/
#account_domain {text-align:right;}


.nav-tabs {
  font-size:17  px;
  font-weight:bold;
  border-bottom:solid 1px lighten( $dblue, 60% );
  margin-bottom:24px;
  & > li{margin-bottom: -2px;}

}


.nav-tabs > li > a {
  padding:0;
  margin-right:40px;
  color:lighten( $dblue,35% ) ;
  border: none;
  border-radius: 0;
  line-height: 20px;
  padding-bottom: 12px;
  padding-top: 8px;
  font-size:18px;
  &:hover, &:focus {background:none; color:$dblue;};
}

.sub-tabs {
  margin-bottom:0;
  
  & > li {margin-bottom:0 !important;
    font-size:16px;
    
      
  }
}

.sub-pane { //background-color:$white;
  .tab-pane { min-height: 40px; padding: 20px 0;}
  &:hover {background-color:$white;};
}





.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	background: none;
	border:none;
	border-bottom: 1px solid $dblue;
	color:$dblue;
	cursor: default;
	
}

.nav-tabs > li > a:hover {
  /*color:lighten( $dblue, 40% );*/
  color:$green;
}


//.nav-tabs-ext {@extend .nav-tabs;}

/* ___________________________________________________  Bootstrap tooltip */

$tooltipBKG: $mblue;
$tooltipTXT: $white;
.tooltip-inner {background:$mblue; }

.tooltip.top .tooltip-arrow {border-top:5px solid $tooltipBKG;}
.tooltip.left .tooltip-arrow {border-left:5px solid $tooltipBKG;}
.tooltip.bottom .tooltip-arrow {border-bottom:5px solid $tooltipBKG;}
.tooltip.right .tooltip-arrow {border-right:5px solid $tooltipBKG;}

/* ___________________________________________________  Bootstrap tooltip extension  */

.tooltip.top-left .tooltip-arrow {
  bottom: -5px;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: $tooltipBKG;
}
.tooltip.top-right .tooltip-arrow {
  bottom: -5px;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: $tooltipBKG;
}
.tooltip.bottom-left .tooltip-arrow {
  top: -5px;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: $tooltipBKG;
}
.tooltip.bottom-right .tooltip-arrow {
  top: -5px;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: $tooltipBKG;
}




/*
@media (max-width: 1024px) {
  .account-tab, .user-tab span {display:none;}
  .logo {padding-left:14px;}
  
  .leftmenu .righticon {
      display: block;
      float: none;
      margin-left: 7px;
  }
  
}
*/

/* MEDIA SCREEN SIZE ____________________ */
@media (max-width: 767px) {
  body { padding:0px;}
  .togglemenu {display: inline; margin-left:-20px;}

  .filters-list {float:left; width: 33%;}
}

