%h1 Listing campaigns

%table
  %tr
    %th
    %th
    %th

  - @campaigns.each do |campaign|
    %tr
      %td= link_to 'Show', campaign
      %td= link_to 'Edit', edit_campaign_path(campaign)
      %td= link_to 'Destroy', campaign, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Campaign', new_campaign_path
