%p
  Bonjour #{@resource.email}!
%p
  Vous vous étiez pré-inscrits pour utiliser le logiciel de booking Merci Edgar.
  Nous sommes heureux de vous inviter à utiliser dès maintenant 
  %b Merci Edgar
  , l'assistant virtuel des artistes !
%p
  La peinture est encore fraiche ! Vous accédez à une version de test (et donc à ce stade gratuite) 
  %br
  Mais trève de bavardage, c'est maintenant à vous de jouer !

%p
  Merci de cliquer sur le lien ci-dessous pour confirmer votre compte :
%p= link_to 'Confirmer mon compte', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, subdomain: 'login', :locale => I18n.locale)
%p= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, subdomain: 'login', :locale => I18n.locale)
