%p
  Bonjour #{@resource.first_name}!
%p Vous avez apparemment oublié votre mot de passe. Vous pouvez cliquer sur le lien ci-dessous pour le changer :
%p= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @token, subdomain: 'login')
%p Si vous n'en avez pas fait la demande, vous pouvez ignorer ce mail.
%p Votre mot de passe ne changera pas jusqu'à ce que vous cliquiez sur le lien ci-dessus pour créer un nouveau mot de passe
