$('#myModal').modal('toggle')
$('#myModal .errors').text("")
$(".bar").width('1%');
$('.message').text('Export en cours...')
(function pollJobidStatus() {
  $.getJSON('<%= job_path(@job_id) %>', function (response) {
    if (response.status == "working") {
    	$(".bar").width(response.pct + '%');
			if (response.message != null) {
				$(".message").text(response.message)
			}
    }
    if (response.status == "complete") {
			$("#myModal").modal('toggle')
			$('.bar').width('1%')
			$('.message').text('')
	    window.location = response.result
			return false;
    }

		if (response.status == "failed") {
			$('#myModal .bar').width("0%")
			$('#myModal .message').text("")
			$('#myModal .errors').append("<div class='notice error'>Un problème est survenu. Edgar est averti !</div>")
			return
		}

    setTimeout(pollJobidStatus, 1000);
  });
}());
// $(".progress").hide();
