%footer#contact-section.footer
  .container
    .row-fluid
      .span3
        .logo
          %i.ed-icon-ed-logo-bkg.logotype
          %a{:href => "#header-section"}
            %i.ed-icon-ed-logo.logotype
      .span5
        %address
          %i.fa-icon-map-marker
          Au bourg, 47120 Monteton, France
          %br/
        .foot-line
      .span4
        %ul.social-top
        
          %li
            %a{:href => "https://www.facebook.com/pages/Merci-Edgar/164510577033726", :title => "Facebook Merci Edgar", :target => "blank"}
              %i.ed-icon-facebook
          %li
            %a{:href => "https://twitter.com/MerciEdgar", :title => "Twitter Merci Edgar", :target => "blank"}
              %i.ed-icon-twitter
          %li
            %a{:href => "http://vimeo.com/channels/entretiensdedgar", :title => "Vimeo Channel Entretiens d'Edgar", :target => "blank"}
              %i.ed-icon-vimeo
    / ROW-FLUID
/ END: FOOTER
