%footer#contact-section.footer
  .container
    .row-fluid
      .span3.text-center
        %a.brand{:href => "", :title => ""} Merci Edgar
      .span5.text-center
        %address
          %i.fa-icon-map-marker
          Au bourg, 47120 Monteton, France
          %br/
        .foot-line
      .span4.text-center
        %ul.social-top
          %li
            %a{:href => "#", :title => ""}
              %i.fa-icon-facebook
          %li
            %a{:href => "#", :title => ""}
              %i.fa-icon-twitter
    / ROW-FLUID
/ END: FOOTER

