= javascript_include_tag "jquery"

= csrf_meta_tags
%meta{:charset => "utf-8"}/
%title Merci Edgar
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:content => "", :name => "description"}/
%meta{:content => "", :name => "author"}/

/ Le styles
= stylesheet_link_tag "application"

/ HTML5 shim, for IE6-8 support of HTML5 elements
/[if lt IE 9]
  <script src="/assets/js/html5shiv.js"></script>
/ Fav and touch icons
= favicon_link_tag 'favicon.ico'
