%script{:src => "/assets/js/jquery.js"}
%script{:src => "/assets/js/bootstrap-transition.js"}
%script{:src => "/assets/js/bootstrap-alert.js"}
%script{:src => "/assets/js/bootstrap-modal.js"}
%script{:src => "/assets/js/bootstrap-dropdown.js"}
%script{:src => "/assets/js/bootstrap-scrollspy.js"}
%script{:src => "/assets/js/bootstrap-tab.js"}
%script{:src => "/assets/js/bootstrap-tooltip.js"}
%script{:src => "/assets/js/bootstrap-popover.js"}
%script{:src => "/assets/js/bootstrap-button.js"}
%script{:src => "/assets/js/bootstrap-collapse.js"}
%script{:src => "/assets/js/bootstrap-carousel.js"}
%script{:src => "/assets/js/bootstrap-typeahead.js"}