.logo
  lelogo
.leftmenu
  .sidebar-nav
    %ul.nav.nav-list
      %li
        %a{:href => "#"} Prenom N.
      %li
        %a{:href => "#"}
          %i.entypo.compass>
          Tableau de bord
      %li
        %a{:href => "#"}
          %i.entypo.conversation>
          Contacts
      / book
      %li
        %a{:href => "#"}
          %i.entypo.bell>
          Tâches
      %li
        %a{:href => "#"}
          %i.entypo.calender>
          Dates
      %li
        %a{:href => "#"}
          %i.entypo.mail>
          Campagnes
      / megaphone
      %li
        %a{:href => "#"}
          %i.entypo.search>
          Recherche
    %ul.nav.nav-list
      %li.nav-header Récemment consulté
      %li
        %a{:href => "#"} Albert Untel
      %li
        %a{:href => "#"} Salle Machin
      %li
        %a{:href => "#"} Albert Untel
      %li
        %a{:href => "#"} Salle Machin
  / /.well
