.plusmenu-trigger
  %i.entypo.edi-plus-3
  
%ul.pluslist
  %li.list-header
    Ajouter
  %li
    %a{:href => "#"} une tâche
  %li
    %a{:href => "#"} une date spectacle
  %li
    %a{:href => "#"} une personne   
  %li
    %a{:href => "#"} une structure
  %li
    %a{:href => "#"} une liste