#thesearch
  = text_field_tag "search", nil, placeholder: "Accéder rapidement à un contact...", class: "jq_autocomplete input-flat", autofocus: true, data: {autocomplete_source: autocomplete_contacts_path} 
  .tour-backdrop.search-backdrop
