#thesearch
  = text_field_tag "search", nil, placeholder: "Accéder rapidement à un contact...", class: "jq_autocomplete", autofocus: true, data: {autocomplete_source: contacts_path} 
  .tour-backdrop.search-backdrop
