#thesearch
  <input type="text" data-provide="typeahead" autocomplete="off" class="searchahead" autofocus="autofocus" placeholder="Accéder rapidement à un contacts, une tâches, une dates...">
  -#
    :javascript
      $('.searchahead').typeahead();

  <div class="tour-backdrop search-backdrop"></div>
  -#
    .dropup